.hero-section {
  background: linear-gradient(90deg, #1aa34a, #28c76f);
  color: white;
  padding: 80px 20px;
  text-align: center;
  border-radius: 0 0 25px 25px;
}

.hero-section h1 {
  font-size: 3rem;
  font-weight: 800;
}

.hero-section .highlight {
  color: #fff86b;
}

.subtitle {
  margin-top: 15px;
  font-size: 1.2rem;
  opacity: 0.9;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.hero-btn {
  margin-top: 25px;
  padding: 12px 40px;
  background: black;
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.2s;
}

.hero-btn:hover {
  transform: scale(1.05);
}
